html {
    box-sizing: border-box;
}

body {
    background-color: black;
}

#nav-bar {
    color: seashell;
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    height: 13vh;
    width: 100%;
    border-bottom: 2px solid black;
    box-shadow: 10px 10px  20px rgba(52, 209, 196, 0.6)
}

#logo {
    display: flex;
    place-items: center;
    font-size: 3rem;
    margin-left: 3vw;
    background: linear-gradient( 102.8deg,  rgba(183,235,252,1) 12.3%, rgba(248,193,232,1) 48.6%, rgba(252,244,211,1) 85.1%);
-webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-style: italic;
    font-weight: 700;
    animation-name: fade-in;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-duration: 3.5s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

 #logo, li {
  transition: font-size 0.3s, color 0.3s;
} 

#logo:hover, li:hover {
  font-size: 1.5rem; 
  color: #ff6600;   
}

.gradient-highlight {
    background: radial-gradient( circle farthest-corner at 10% 20%,  rgba(117, 114, 252, 0.944) 0%, rgba(50, 215, 193, 0.725) 100.7% );
-webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-weight: bold;
    font-size: 1.5rem;
    transition: background-color 0.3s ease, color 0.3s ease;

}

#join-button {
    display: flex;
    place-items: center;
    font-size: 1.5rem;    
    margin: 10vh 3vw 0 0;
    padding: 0.5rem 1rem;
    background: linear-gradient( 102.8deg,  rgba(183,235,252,1) 12.3%, rgba(248,193,232,1) 48.6%, rgba(252,244,211,1) 85.1%);
-webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    border: 2px solid seashell;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#join-button:hover {
    background-color: seashell;
    color: black;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    text-decoration: none;
    
}

ul {
    display: flex;
    justify-content: flex-end;
    width: auto;
    margin-left: auto;
    font-family: serif;
    margin-right: 10vw;
    gap: 5vw;
}

li {
    display: flex;
    place-items: center;
    font-size: 1.7em;
}

#hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 10vw;
    padding-right: 10vw;
    color: seashell;
    margin-top: 25vh;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
}


li:hover {
    background: radial-gradient( circle farthest-corner at -1.2% 43.9%,  rgba(252,146,32,1) 16.1%, rgba(255,4,4,1) 74.3% );
-webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    cursor:move;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (max-width: 600px) {}
    #logo {
        font-size: 2.2rem;
    }
    li {
        font-size: 1.34em;
    }
     #nav-bar {
        height: 17vh;        
        justify-content: center;
        margin-top: 2vh;
    }
     #hero {
        margin-top: 30vh;
        font-size: 1.5rem;
}

