html {
    box-sizing: border-box;
}

body {
    background-color: black;
}

#nav-bar {
    color: seashell;
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    height: 10vh;
    width: 100%;
    border-bottom: 2px solid black;
    box-shadow: 4px 4px  4px rgba(251, 250, 250, 0.278)
}

#logo {
    display: flex;
    place-items: center;
    font-size: 2em;
    margin-left: 3vw;
    background: linear-gradient( 102.8deg,  rgba(183,235,252,1) 12.3%, rgba(248,193,232,1) 48.6%, rgba(252,244,211,1) 85.1%);
-webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-style: italic;
    font-weight: 700
    
}


ul {
    display: flex;
    justify-content: flex-end;
    width: auto;
    margin-left: auto;
    font-family: serif;
    margin-right: 10vw;
    gap: 5vw;
}

li {
    
    display: flex;
    place-items: center;
    font-size: 1.5em;

}
