html {
    box-sizing: border-box;
}

body {
    background-color: black;
}

#nav-bar {
    color: seashell;
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    height: 13vh;
    width: 100%;
    border-bottom: 2px solid black;
    box-shadow: 10px 10px  20px rgba(52, 209, 196, 0.6)
}

#logo {
    display: flex;
    place-items: center;
    font-size: 3rem;
    margin-left: 3vw;
    background: linear-gradient( 102.8deg,  rgba(183,235,252,1) 12.3%, rgba(248,193,232,1) 48.6%, rgba(252,244,211,1) 85.1%);
-webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-style: italic;
    font-weight: 700
}


ul {
    display: flex;
    justify-content: flex-end;
    width: auto;
    margin-left: auto;
    font-family: serif;
    margin-right: 10vw;
    gap: 5vw;
}

li {
    display: flex;
    place-items: center;
    font-size: 1.7em;
}

#hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 10vw;
    padding-right: 10vw;
    color: seashell;
    margin-top: 25vh;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
}


li:hover {
    background: radial-gradient( circle farthest-corner at -1.2% 43.9%,  rgba(252,146,32,1) 16.1%, rgba(255,4,4,1) 74.3% );
-webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    cursor:move;
}


@media (max-width: 600px) {}
    #logo {
        font-size: 2.2rem;
    }
    li {
        font-size: 1.34em;
    }
     #nav-bar {
        height: 17vh;        
        justify-content: center;
        margin-top: 2vh;

     }
     #hero {
        margin-top: 30vh;
        font-size: 1.5rem;
        
}

